<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="fragment-header">
  <meta charset="utf-8" />
  <title>Dashboard | PET PLANET Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
  <meta content="Coderthemes" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- App favicon -->
  <link rel="shortcut icon" href="/static/assets/images/favicon.ico">

  <!-- App css -->
  <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-stylesheet" />
  <link href="/static/assets/css/app.min.css" rel="stylesheet" type="text/css" id="app-stylesheet" />

  <!-- icons -->
  <link href="/static/assets/css/icons.min.css" rel="stylesheet" type="text/css" />

  <!-- third party css -->
  <link href="/static/assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/assets/libs/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/assets/libs/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" type="text/css" />
  <link href="/static/assets/libs/datatables.net-select-bs5/css/select.bootstrap5.min.css" rel="stylesheet" type="text/css" />


<!--  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
</html>